<div class="modal">
  <app-label-new
    title="Fill your new entry"
    subtitle="Fill with the data of your entry, this will be added to your month list"
  >
    <form class="entry-form" [formGroup]="entryForm">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Entry Name</mat-label>
          <input matInput formControlName="entryName" name="entryName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Entry Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="entryDate" name="entryDate" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Entry Value</mat-label>
          <input matInput formControlName="entryValue" name="entryValue" />
        </mat-form-field>
        <mat-form-field appearance="outline" required>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option *ngFor="let value of entryClassification" [value]="value">{{ value }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="description">
        <mat-label>Entry Description</mat-label>
        <textarea matInput formControlName="entryDescription" name="entryDescription"></textarea>
      </mat-form-field>
    </form>
    <div class="buttons">
      <button mat-raised-button class="cancelButton" (click)="cancel()">
        <span> Cancel </span>
      </button>
      <button mat-raised-button class="confirmButton" (click)="save()">
        <span> Confirm </span>
      </button>
    </div>
  </app-label-new>
</div>
