table {
  width: 100%;
}

.table {
  width: 100%;
  max-height: 61vh;
  overflow-y: auto;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #3a66ff;
}

.delete > i {
  color: #e53935;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  text-align: center;
}
