table {
  width: 100%;
}

.table {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}
.edit {
  margin-right: 10px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  text-align: center;
}
