table {
  width: 100%;
}

.table {
  width: 100%;
  max-height: 61vh;
  overflow-y: auto;
}
.edit {
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

.edit > i {
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(225.55deg, #3a66ff 0%, #6b8cff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delete > i {
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(225.55deg, #e53935 0%, #ef5350 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  text-align: center;
}
