.body {
  display: flex;
  flex-direction: column;
  gap: 200px;
  height: 100%;
}

.body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-header {
  display: flex;
  flex-direction: row;
}

.body-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
