<div class="sub-header">
  <button mat-raised-button class="newEntryButton">
    <span> New entry </span>
  </button>
  <div class="date-filter">
    <div class="filter">
      <input class="date-field" type="date" value="2023-03-01" />
      <i class="material-icons-outlined grey">
        <span class="arrow"> arrow_forward </span>
      </i>
      <input class="date-field" type="date" value="2023-04-01" />
    </div>
    <button mat-raised-button class="filterButton">
      <span> Filter </span>
    </button>
  </div>
</div>
<app-label title="Entry table" subtitle="Your entries is located here!">
  <app-entry-list class="entry-list"></app-entry-list>
</app-label>
